

button {
  background-color: #332D2D !important;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
  font-weight: 500;
  font-size: 24px;
  text-transform: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
button:focus {
  background-color: #4a4242 !important; /* чуть светлее при наведении */
  box-shadow: none !important;
  outline: none !important;
}

/* Опционально убрать фокусную обводку если не нужна */
button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}
